    <div class="text-center m-5 text-white">
        <h2>Panel Administraci贸n Conexiones Modbus</h2>
    </div>
    <div class="d-flex justify-content-center" style="align-content: center;">
        
        <div class="d-flex text-white bg-dark">
            <form class="m-3 text-white" id="modbusForm">            
                <div class="mb-3">
                  <label for="deviceIP" class="form-label"><b>Direcci贸n IP dispositivo:</b></label>
                  <input type="text" class="form-control bg-dark text-white" id="deviceIP" placeholder="ej: 192.168.1.2" name="ipaddress">
                </div>

                <div class="mb-3">
                  <label for="tcpport" class="form-label"><b>Puerto TCP:</b></label>
                  <input type="text" class="form-control bg-dark text-white" id="tcpport" placeholder="ej: 502" name="tcpport">
                </div>
    
                <div class="mb-3">
                  <label for="slaveID" class="form-label"><b>Modbus ID:</b></label>
                  <input type="text" class="form-control bg-dark text-white" id="slaveID" placeholder="1 - 10" name="slaveid">
                </div>
    
                <div class="mb-3">
                  <label for="startReg" class="form-label"><b>Primer registro a leer:</b></label>
                  <input type="text" class="form-control bg-dark text-white" id="startReg" placeholder="0 - 40000" name="startreg">
                </div>
    
                <div class="mb-3">
                  <label for="numRegs" class="form-label"><b>Numero de registros a leer:</b></label>
                  <input type="text" class="form-control bg-dark text-white" id="numRegs" placeholder="1 - 9999" name="numregs">
                </div>
    
                <div class="mb-3">
                  <label for="secPolling" class="form-label"><b>Frecuencia de polling:</b></label>
                  <input type="text" class="form-control bg-dark text-white" id="secPolling" placeholder="min 5000" name="freqpolling">
                </div>

                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-success mb-3">Conectar</button>
                  <button type="button" class="btn btn-danger mb-3" disabled>Terminar conexi贸n</button>                    
                </div>    
            </form>
        </div>

        <div class="d-flex bg-dark">
            <div class="card text-white bg-dark" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title mb-3">Informacion</h5>
                  <p class="card-text mb-3"><b>Status:</b></p>
                  <p class="card-text mb-3">conectado</p>
                  <p class="card-text mb-3"><b>Tiempo de conexi贸n:</b></p>
                  <p class="card-text mb-3">1:08:49</p>
                </div>                
            </div>            
        </div>
                
    </div>

    <style>
      body {
        background-color: black;
      }
    </style>

    {{!-- script para envio de formulario de login mediante form data (modulo express-update) --}}

<script>
    let modbusForm = document.getElementById("modbusForm");

    modbusForm.addEventListener("submit", async (event) => {
        event.preventDefault();
        try{
            let data = new FormData(modbusForm);
            let response = await fetch("/api/v1/connection",{
                method: "POST",
                body: data
            });

            let result = await response.json();
            if(result.code == 200){
              console.log(result.message);
            //    localStorage.setItem("token", result.token);
            //    location.href = "/ordermonitor?token="+ result.token
            }else {
              alert(result.message);
            }
        }catch(error){
            console.log("Error.");
        }
    }
    )
</script>